@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-color: #ccc;
    font-family: "Oswald", sans-serif;
}

/* .wrapper{
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 5px #999;
    
} */